@{
    ViewBag.Title = "Contact";
}

<h1>Contact Us</h1>
<p>
    We would love to hear from you! If you have any questions, suggestions, or would like to get involved with Change the World Forum, please feel free to reach out to us using the contact information below:
</p>
<div class="row">
    <h3>Email</h3>
    <p>
        For support: <a href="mailto:support@changetheworldforum.com">support@changetheworldforum.com</a>
    </p>
    <h3>Social Media</h3>
    <p>
        Connect with us on social media to stay updated on the latest news, events, and discussions:
    </p>
    <p>
        <a href="https://www.facebook.com/changetheworldforum" target="_blank">Facebook</a><br />
        <a href="https://www.twitter.com/ctwforum" target="_blank">Twitter</a><br />
    </p>
</div>